.container {
	  width: 100%;
	  margin: 0 auto;
	  display: flex;
	  justify-content: space-between;
	  flex-direction: column;
	}	
	.form-col {
	  display: flex;
	  max-width: 320px;
	  width: 100%;
	  margin: 30px auto;
	}
	form {
	  display: flex;
	  flex-direction: column;
	  width: 100%;
	}
	.form-group {
		margin-bottom: 16px;
		text-align: left;
	}
	input {
	  padding: 6px 10px;
	  height: 40px;
	  box-sizing: border-box;
	  border-radius: 2px;
	  box-shadow: none;
	  border: 1px solid #ccc;
	  outline: none;
	  width: 100%;
	}
	input[type='radio'] {
		padding: 0;
	  	height: auto;
	  	width: auto;
	}
	button {
	  box-shadow: none;
	  border: none;
	  color: #fff;
	  text-transform: uppercase;
	  font-size: 18px;
	  background: orange;
	  border-radius: 2px;
	  padding: 12px 10px 9px;
	  font-weight: bold;
	  cursor: pointer;
	  outline: none;
	  margin: 16px 0;
	  width: 100%;
	}

	.entre-type {
		margin: 0 0 6px;
	}

	.mt-20 {
		margin-top: 20px;
	}

	.mb-16 {
		margin-bottom: 16px;
	}

	.label {
		margin-bottom: 8px;
		display: inline-block;
	}

	.show-data {
		text-align: center;
		margin-top: 30px
	}

	table {
	    text-align: left;
	    margin: 0 auto;
	    width: 100%;
	    max-width: 760px;
	    border-collapse: collapse;
	}

	table tr th {
		padding-bottom: 10px
	}

	table tr th:last-child {
		text-align: right;
	}

	table tr td {
		border-bottom: 1px solid #ccc;
	    padding: 10px 0px;
	    align-items: center;
	}

	table tr td:last-child {
		text-align: right;
	}

	.error {
		color: red;
		font-size: 13px;
		position: relative;
		top: -4px;
	}

	.close {
		width: auto;
		float: inherit;
    	display: flex;
    	justify-content: flex-end;
	}

	a {
		color: #007bff !important;
		cursor: pointer;
	}

	#table_content{
		width: 100%;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	}

	.form-group label,
	.textarea-col label {
		font-weight: 600;
    	font-size: 13px;
    	margin-bottom: 4px;
	}

	.input-group {
		display: flex;
		justify-content: space-between;
	}

	.input-group label {
		font-weight: normal;
		margin: 0 0 0 5px;
		font-size: 15px;
	}

	.input-box {
		display: flex;
		align-items: center;
	}

	.form-group h5 {
		width: 100%;
    	display: flex;
    	font-weight: 600;
    	margin: 20px 0 14px;
	}

	.input-box input[type="checkbox"] {
		width: 14px;
	}

	.form-custom {
		flex-direction: inherit;
		flex-wrap: wrap;
		justify-content: center;
	}

	.custom-form-col {
		max-width: 600px;
	}

	.custom-form-col .form-group {
		max-width: 50%;
    	flex-basis: 50%;
    	padding: 0 10px;
	}

	.option-conatiner {
		width: 100%;
	}

	.option-conatiner .input-group {
		max-width: 100%;
	}

	.bootstrap-select > .dropdown-toggle.bs-placeholder,
	.bootstrap-select > .dropdown-toggle.bs-placeholder:hover,
	.bootstrap-select > .dropdown-toggle.bs-placeholder:focus, 
	.bootstrap-select > .dropdown-toggle.bs-placeholder:active,
	.bootstrap-select > .dropdown-toggle {
		outline: none !important;
		background: #000 !important;
		color: #fff !important
	}

	.dropdown-item.active,
	.dropdown-item:active {
		background-color: #f1f1f1;
	}

	.bootstrap-select .dropdown-menu li a {
		outline: none;
	}

	.small-btn button {
		margin: 7px 0 0;
		padding: 7px 10px 4px;
	}


	.custom-form-col .small-btn {
	    padding: 0;
	    margin: 0 0 0 0px;
	    height: auto;
	    display: flex;
	    min-height: auto;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	}

	.textarea-col {
		width: 100%;
		margin: 0 0 0 10px;
	}

	textarea {
		resize: none;
	}

	.submit-btn .btn,
	.btn-primary {
		color: #fff !important;
	}

	.member-table table {
		max-width: 1170px;
	}

	.bootstrap-select .dropdown-menu {
		min-width: 100% !important;
	}

	.header {
		background: #212121;
		margin-bottom: 30px;
		padding: 25px 0;
	}

	.header nav ul {
		display: flex;
		margin: 0;
		padding: 0;
		justify-content: center;
	}

	.header nav ul li {
		list-style: none;
	}

	.header nav ul li a {
		color: #fff !important;
		text-transform: uppercase;
		padding: 0 30px;
	    font-size: 14px;
	    font-weight: 600;
	}

	.header nav ul li a:hover {
		text-decoration: none;
		color: #2381e6 !important;
	}

